body{
    margin: 0px;
    padding: 0px;               

}

.wrapper{
    margin: 10px;
    border: 1px solid black;
    height: 400px;
    
}
.box{
    border: 5px solid rebeccapurple;
    width:400px;
    padding: 10%;
    margin: 10%;
}